@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 93.75vw;
    height: 11vh;
}

.logo img {
    width:9.500vw;
    height:13vh;
    padding: 40px;
    padding-top: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Krub",sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    color: #4C5270;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}


.botao_redessociais button {
    cursor: pointer;
    border: none;
    background-color: white;
}

body {
    font-family: "Krub",sans-serif;
    margin: 0;
    padding: 0;
  }
  
 .container {
   display: flex;
   align-items: center;
   padding: 80px;
   font-family: "Krona One", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #4C5270;
   justify-content: space-between;
 }
  
 .texto {
   padding: 40px 150px;
 }
  
 #textoinicio{
  font-size: 72px;
  color: #F3658A;
 }

 #textoinicio_cont{
  font-size: 24px;
 }

 #textoinicio2{
  font-size: 80px;
  color: #F3658A;
 }

 #textoinicio_cont2{
  font-size: 26px;
  color: #000000;
 }
 #textoinicio_cont2a{
  padding: 0;
  font-size: 30px;
  color: #000000;
 }

.container2 {
  display: flex;
  background: #F5F5F5;
  align-items: center;
  padding: 90px 250px;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4C5270;
  justify-content: space-between;
 }

 div .texto_cartoes{
  display: table-column;
  justify-content: end;
  padding: 50px 90px;
 }

 #texto_cartoes{
  font-size: 40px; 
  margin-left: 90px;
  margin-right: 50px;
 }

 #texto_cartoes_cont{
  font-size: 30px; 
}
  
b{
  color: #F3658A;
}
footer {
  background-color: #F3658A;
  width: 95vw;
  height: 40vh;
  color: #fff;
  padding: 30px ;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
 }

 .container3 {
  margin: 0 auto;
  text-align: center;
}
  
 #contato{
  font-size: 45px;
  color: #111111;
}

#info{
  font-size: 30px;
  color: #111111;
}

input{
  width: 50vw;
  height: 5vh;
  border: black;
  border-radius:25 px;
  display: flex;
  align-items: center;
}

button {
  background-color: #F3658A;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  width: 10vw;
  height: 5vh;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

#enviar:hover {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}
